.pane {
    width: 300px;
    height: calc(100vh - 40px);
    border-right: 1px solid #E4E7EB;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.paneBody {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    padding-bottom: 10px;
}

.paneClassify {
    margin: 0px 10px 0px 16px;
}

.paneRouterName {
    height: 40px;
    line-height: 40px;
    color: rgba(0, 0, 0, .65);
}

.paneRouterName :hover {
    background: rgba(51, 112, 255, .08);
    /* width: 100%; */
}

.paneRouterName>span {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding-left: 16px;
}